<?xml version="1.0" encoding="UTF-8" standalone="yes"?><policy type="MQTTSubscribe">    <policyProperties>        <description/>        <basic>            <clientId>a:88xzb2:hosie</clientId>            <topicName>iot-2/type/+/id/+/evt/+/fmt/+</topicName>            <hostName>88xzb2.messaging.internetofthings.ibmcloud.com</hostName>            <port>1883</port>            <qos>1</qos>        </basic>    </policyProperties></policy>
