<?xml version="1.0" encoding="UTF-8" standalone="yes"?><policy type="MQTTSubscribe">    <policyProperties>        <description/>        <basic>            <clientId>a:jk6y1t:hosie</clientId>            <topicName>iot-2/type/+/id/+/evt/+/fmt/+</topicName>            <hostName>jk6y1t.messaging.internetofthings.ibmcloud.com</hostName>            <port>1883</port>            <qos>0</qos>        </basic>    </policyProperties></policy>
