<wsp:Policy xmlns:wsp="http://www.w3.org/ns/ws-policy"><iwlm:workloadManagement xmlns:iwlm="http://www.ibm.com/xmlns/prod/websphere/iib/9.0.0/policy/wlm"><iwlm:notificationThresholdMsgsPerSec></iwlm:notificationThresholdMsgsPerSec><iwlm:maximumRateMsgsPerSec>2</iwlm:maximumRateMsgsPerSec><iwlm:processingTimeoutSec></iwlm:processingTimeoutSec><iwlm:processingTimeoutAction></iwlm:processingTimeoutAction><iwlm:additionalInstances></iwlm:additionalInstances><iwlm:startInstancesWhenFlowStarts></iwlm:startInstancesWhenFlowStarts><iwlm:commitCount></iwlm:commitCount><iwlm:commitInterval></iwlm:commitInterval><iwlm:startMode></iwlm:startMode></iwlm:workloadManagement></wsp:Policy>
