
.dashboard {
  padding: 40px 15px;
  text-align: center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.milleage{

  font: 38px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.newsFlash{

  font: 38px "Lucida Grande", Helvetica, Arial, sans-serif;
          }